<head><!-- Latest compiled and minified CSS -->
<title>Home </title>
</head>
<!-- bydy of the webpage-->
<body>
  <% if !user_signed_in? %>
    <div class="jumbotron first_jumbo">
      <h2>Articles</h2>
      <%= link_to "New Article",new_article_path,class:"btn btn-primary btn-lg btn-info sbtn"%>
    </div>


  <%else%>
      <div class="jumbotron first_jumbo">
        <h2>Articles</h2>
        <%= link_to "New Article",new_article_path,class:"btn btn-primary btn-lg btn-info sbtn"%>
        <%= link_to "My articles",user_path(current_user.id),class:"btn btn-primary btn-lg btn-info sbtn"%>
      </div>

  <%end%>
</body>
